.tituloAdmin{
    text-align: center; 
    position: fixed; 
    top: -1.5%; 
    left: 0; 
    right: 50%; 
    width: 100%
}

#headerFixed{
    margin: -1% 1%;
    background: #08088A;
    color: white;
    height: 50px;	
    width: 98%;
    position: fixed;
    z-index: 1001;
} 

.contenedor {
  display:flex;
}

.contenedor > div {
  flex:1;
  display:flex;
}

.fila0 { float: left; background: #008C5B; }
.fila1 { float: left; background: #02538B; }

.contenidoPanel {
    width: 98%;
    height: 98%;
    position: relative;
    overflow: hidden;
    background: white;
    margin: 1% 1% auto;
    box-shadow: 0 0 80px rgba(0,0,0,2);
}

.tableUsers {
    width: 98%;
    height: 90%; 
    float: left; 
    margin: 25px 1%;   
}

.tableShipp {
    width: 98%;
    height: 90%; 
    float: left; 
    margin: 25px 1%;   
}


.table-container {
    height: 2em;
}

table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

table thead {
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}

table tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

table tbody tr {
    width: 100%;
}

table thead,
table tbody tr {
    display: table;
    table-layout: fixed;
}
/* decorations */
.table-container {
    border-collapse: separate;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 0.2em;
}

table {
    border: 1px solid lightgrey;
}

table td, table th {
    padding: 0.1em;
    border: 1px solid lightgrey;
}

table th {
    border: 1px solid grey;
} 

.btnAddUser{
    margin: 1% -1%;
    float: right;
    position: absolute; 
    top: .5px; 
    left: 182%;
}